
.engibod{
   background-image: url("img/engeneered_by_hatter.png");
}
.creatrors{
   border: 2px;
   margin: 1px;
   padding: 0,5px;
}
.box1{
   border: blue 1px solid;
}
.box2{
   border: green 1px solid;
}
.box3{
   border: red 1px solid;
}
.box4{
   border: yellow 1px solid;
}
.box5{
   border: purple 1px solid;
}
.box6{
   border: black 1px solid;
}
html{
   scroll-behavior: smooth;
}